@tailwind base;
@tailwind components;
@tailwind utilities;

svg.line-chart, svg.donut-chart, svg.grouped-bar-chart {
  width: 100%;
  height: 500px;
}

.mdc-notched-outline__notch {
  border-right: none;
}
